*.pyc
*.pyd
__pycache__/
.ipynb_checkpoints/
*.log
*.pt
*.pth
*.ckpt
*.h5
*.json
*.csv
*.tsv
*.zip
*.tar.gz
*.egg-info/
dist/
build/
*.egg
*.so
*.dylib
*.dll
*.vscode/
.idea/
.DS_Store
*.swp
*.swo
*.bak
*.tmp
events.out.tfevents.*
*.wandb
*.backup
wandb/
models/
data/
local_*.py
adapter copy.py
attention_fusion.py
cross-attention.py
model_eval
model_eval/prompts/*.txt
model_eval/prompts/*.json
